.BlogCard {
    margin : "16px";
    border-radius : "5px";
    box-shadow: "5px 5px 5px #421";
    background-color:lightblue;
}

.likeCount {
    font-weight: 600;
    font-size: 22px;
}

@media (min-width: 992px) {
    .BlogCard {
        width: 45%;
        display: block;
    }
}